* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

body {
    /* background-color: #586571; */
    background-color: #3B454F;
}
h1 {
    font-size: 48px;
    margin: 0 auto;
    font-weight: 900;
    display: block;
    text-align: center;
    margin-top: 75px;
    color: #58748D;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
form {
    display: flex;
    width: 220px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 10px;
}
form input {
    background: #659ACB;
    border: none;
    width: 224px;
    height: 30px;
    border-radius: 25px;
    padding: 0 5px;
    margin-right: 10px;
}
form button {
    font-size: 10px;
    background: #659ACB;
    border: none;
    width: 75px;
    height: 30px;
    border-radius: 25px;
}
h2 {
    font-size: 48px;
    margin: 0 auto;
    font-weight: 900;
    display: block;
    text-align: center;
    margin-top: 75px;
    color: #58748D;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.timer {
    display: flex;
    justify-content: space-between;
    width: 466px;
    margin: 0 auto;
    margin-top: 20px;
}
.timer .timer_block {
    padding-top: 10px;
    height: 101px;
    width: 101px;
    border-radius: 25px;
    display: flex;
    background: #659ACB;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.timer span {
    font-size: 46px;
}
.seconds_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 700px;
    color: #fff;
    z-index: -2;
    opacity: 0.05;
}

@keyframes wave {
    from {
        transform: translateY(15px) translateX(10px);
    }
    to {
        transform: translateY(-5px) translateX(-15px);
    }
}

.vector_f {

    animation: 3s infinite alternate wave;
    position: absolute;
    top: 300px;
    left: -100px;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.vector_s {
    animation: 4s infinite alternate wave;
    position: absolute;
    top: 300px;
    left: 20px;
    height: 100%;
    width: 100%;
    z-index: -2;
}